# Exclude large dataset files exceeding GitHub 100MB limit
data/02_secondary_sentiment_scaling/external_val_webmd/webmd.csv
*.zip

# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.DS_Store

# IDE & OS
.idea/
.vscode/
Thumbs.db
